{
  "cache": false,
  "check-coverage": false,
  "require": ["ts-node/register"],
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts",
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary"
  ],
  "all": true,
  "instrument": true
}